<ul nz-menu nzMode="horizontal">
    <li nz-menu-item routerLinkActive="nzSelected" [routerLink]="['/home']">
        <i nz-icon nzType="home"></i>
        HOME
    </li>
    <li nz-menu-item routerLinkActive="nzSelected" *ngIf="auth.loggedIn" [routerLink]="['/main']">
        <i nz-icon nzType="layout"></i>
        CONTROL PANEL
    </li>

    <button nz-button nzType="default" *ngIf="!auth.loggedIn" (click)="auth.login()">login</button>
    <button nz-button nzType="danger" *ngIf="auth.loggedIn" (click)="auth.logout()">logout</button>
</ul>