<div id="first_div">
    <div class="content">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus inventore et necessitatibus, magnam
            deleniti nam quo. Blanditiis sunt ratione quidem. Facere dolore nam animi, iure omnis, distinctio molestiae
            tempore possimus eaque delectus
            voluptate ut. Voluptatem, enim vero! Soluta, quidem nihil. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veniam aspernatur eos culpa consequatur harum nesciunt repellendus. Non ipsa voluptas
            nulla?</p>
    </div>
    <img src="assets/img/home_1.png" alt="">
</div>