<div class="wrap">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{card?.fullName | titlecase}}</nz-page-header-title>
        <nz-page-header-content>
            <nz-descriptions [nzColumn]="3">
                <nz-descriptions-item nzTitle="Quote" [nzSpan]="1">{{card?.quoteNumberItc}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Mobile" [nzSpan]="1">{{card?.cellPhone}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Address" [nzSpan]="1">{{card?.address}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Type" [nzSpan]="1">{{card?.statusTypeName}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Date" [nzSpan]="1">{{card?.dateTimeAppointment | date: 'M/d/yy'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Created on" [nzSpan]="1">{{card?.createdOn | date: 'M/d/yy'}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Language" [nzSpan]="1">{{card?.language1}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Status" [nzSpan]="1">{{card?.active}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="USR" [nzSpan]="1">{{card?.usr}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="CSR" [nzSpan]="1">{{card?.csr}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Office from" [nzSpan]="1">{{card?.officeNameFrom}}</nz-descriptions-item>
            </nz-descriptions>
            <button (click)="editAppointment()" nz-button nzType="danger" nzSize="large">Edit</button>
        </nz-page-header-content>
    </nz-page-header>
</div>