<form nz-form [formGroup]="newAppointment" class="edit-form">
  <nz-form-item>
    <h1>Add appointment</h1>
    <nz-form-label [nzSpan]="6" nzFor="quote">Quote</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('QuoteNumberItc').touched &&
          newAppointment.get('QuoteNumberItc').invalid
        "
        nz-input
        name="quote"
        formControlName="QuoteNumberItc"
        type="text"
        id="quote"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="firstName">First name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('FirstName').touched &&
          newAppointment.get('FirstName').invalid
        "
        nz-input
        name="firstName"
        formControlName="FirstName"
        type="text"
        id="firstName"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="lastName">Last name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('Lastname').touched &&
          newAppointment.get('Lastname').invalid
        "
        nz-input
        name="lastName"
        formControlName="Lastname"
        type="text"
        id="lastName"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="cellphone">Cellphone</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('CellPhone').touched &&
          newAppointment.get('CellPhone').invalid
        "
        nz-input
        name="cellphone"
        formControlName="CellPhone"
        type="text"
        id="cellphone"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="homephone">Homephone</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('HomePhone').touched &&
          newAppointment.get('HomePhone').invalid
        "
        nz-input
        name="homephone"
        formControlName="HomePhone"
        type="text"
        id="homephone"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="address">Address</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('HomePhone').touched &&
          newAppointment.get('HomePhone').invalid
        "
        nz-input
        name="address"
        formControlName="Address"
        type="text"
        id="address"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="city">City</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('City').touched &&
          newAppointment.get('City').invalid
        "
        nz-input
        name="city"
        formControlName="City"
        type="text"
        id="city"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="state">State</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('State').touched &&
          newAppointment.get('State').invalid
        "
        nz-input
        name="state"
        formControlName="State"
        type="text"
        id="state"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="zip">ZIP</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('Zip').touched && newAppointment.get('Zip').invalid
        "
        nz-input
        name="zip"
        formControlName="Zip"
        type="text"
        id="zip"
      />
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="date">Language</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="IdLanguage"
        nzPlaceHolder="Choose"
        name="language"
        [class.in-error]="
          newAppointment.get('IdLanguage').touched &&
          newAppointment.get('IdLanguage').invalid
        "
      >
        <nz-option
          *ngFor="let lan of languages"
          [nzValue]="lan.idLanguage"
          [nzLabel]="lan.language1"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="office_from">Office from</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="IdOfficeFrom"
        nzPlaceHolder="Choose"
        name="office_from"
        [class.in-error]="
          newAppointment.get('IdOfficeFrom').touched &&
          newAppointment.get('IdOfficeFrom').invalid
        "
      >
        <nz-option
          *ngFor="let lan of officeFrom"
          [nzValue]="lan.idOffice"
          [nzLabel]="lan.officeName"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="office_to">Office to</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="IdOfficeTo"
        nzPlaceHolder="Choose"
        name="office_to"
        [class.in-error]="
          newAppointment.get('IdOfficeTo').touched &&
          newAppointment.get('IdOfficeTo').invalid
        "
      >
        <nz-option
          *ngFor="let lan of officeTo"
          [nzValue]="lan.idOffice"
          [nzLabel]="lan.officeName"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="status">Status</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="IdStatus"
        nzPlaceHolder="Choose"
        name="status"
        [class.in-error]="
          newAppointment.get('IdStatus').touched &&
          newAppointment.get('IdStatus').invalid
        "
      >
        <nz-option
          *ngFor="let lan of types"
          [nzValue]="lan.idStatus"
          [nzLabel]="lan.statusAppointment1"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="status_type">Status type</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        formControlName="IdStatusType"
        nzPlaceHolder="Choose"
        name="status_type"
        [class.in-error]="
          newAppointment.get('IdStatusType').touched &&
          newAppointment.get('IdStatusType').invalid
        "
      >
        <nz-option
          *ngFor="let lan of status"
          [nzValue]="lan.idStatusType"
          [nzLabel]="lan.statusTypeName"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="date">Date/Time</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-date-picker
        [class.in-error]="
          newAppointment.get('DateTimeAppointment').touched &&
          newAppointment.get('DateTimeAppointment').invalid
        "
        nzShowTime
        nzFormat="MM-dd-yy HH:mm:ss"
        nzPlaceHolder="Select Time"
        ngModel
        name="date"
        (ngModelChange)="onChange($event)"
        (nzOnOk)="onOk($event)"
        formControlName="DateTimeAppointment"
      >
      </nz-date-picker>
    </nz-form-control>
    <nz-form-label [nzSpan]="6" nzFor="csr">CSR</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        [class.in-error]="
          newAppointment.get('Csr').touched && newAppointment.get('Csr').invalid
        "
        formControlName="Csr"
        nz-input
        name="csr"
        type="text"
        id="csr"
      />
    </nz-form-control>

    <nz-form-control [nzSpan]="24" class="buttons">
      <button
        (click)="postAppointment()"
        nz-button
        nzSize="large"
        nzType="primary"
      >
        Save
      </button>
      <button (click)="cancelAction()" nz-button nzSize="large" nzType="danger">
        Cancel
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
